.form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 10px 0 20px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label {
    color: #909090;
    font-size: 14px;
    line-height: 0.9;
    margin-left: 5px;
    text-transform: uppercase;
}

.submitButton {
    width: 100%;
    background-color: #00b32d;

    &:disabled {
        background-color: #ddd; 
        color: #868686; 
        cursor: not-allowed; 
        box-shadow: 0 0 0 0;

        &:hover {
            opacity: 1;
        }
    }
}
  
.linkContainer {
    text-align: center;
}

a {
    color: #0099ff;
    text-decoration: none;
    transition: opacity 0.15s;

    &:hover {
        opacity: 0.8;
    }
}