.navBar {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    background-color: #005c99;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 0 15px;
    gap: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    z-index: 10;

    & a {
        color: #fff;
        text-transform: uppercase;
        padding: 5px 8px;
        text-decoration: none;

        &.active {
            color: #ffff80;

            &:hover {
                opacity: 1;
            }
        }
    }
}
