.paginationContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.booksPerPageContainer {
    display: flex;
    align-items: center;
    gap: 15px;
}

.selectBooksPerPage {
    width: 60px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;

    & button {
        border: 0;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        cursor: pointer;
        background-color: #007acc;
        box-shadow: 0 1px 3px rgba(0,0,0,0.1);
        display: flex;
        align-items: center;
        justify-content: center;

        &:disabled {
            cursor: default;
            background-color: #ddd;
            box-shadow: 0 0 0 0;
        }
    }
}

.pageIndicator {
    font-weight: 600;
    color: #646464;
}

@media (max-width: 360px) {
    .pagination {
        width: 100%;
        justify-content: end; 
    }
}